body {
    font-family: Roman serif font
    margin: 0;
    padding: 10px;
    background-color: white;
    color: black;
	font-size: 18px;
}

header {
    background: white;
    color: #D87659;
    padding: 10px 20px;
    text-align: center;
}



nav {
            position: fixed;
		left: 20px;      /* 距离页面右侧 20px */
            top: 10%;


            background: #f9f9f9;
            border: 1px solid #ccc;
            padding: 10px;
            max-width: 200px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	 overflow-y: auto;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        nav ul li {
            margin-bottom: 5px;
        }
        nav ul li a {
            text-decoration: none;
            color: #09519A;
        }
        nav ul li a:hover {
            text-decoration: underline;
        }
        nav ul li.active a {
            font-weight: bold;
            color: #0056b3;
        }
        main {
            margin-left: 230px;
            padding: 20px;
        }
        section {
            margin-bottom: 50px;
        }





html {
    scroll-behavior: smooth;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

h1, h2 {
width: 100%;
display: block;
color: #09519A;
}

h3 {
width: 100%;
color: #09519A;
}
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background: #333;
    color: #fff;
}

/* 让副标题独占一行 */
.subtitle {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 个人简介区域 */
.profile {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 0px;
    gap: 10px; /* 控制图片和文字的间距 */
}

/* 图片样式 */
.profile img {
    width: 200px; /* 适当调整照片大小 */
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* 个人信息介绍 */
.info {
    max-width: 800px;
}

.info h2 {
    margin-top: 0;
    color: #444;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
}

.info ul {
    padding-left: 20px;
}


/* 设置段落的行距为1.8倍字体大小 */
p {
    line-height: 1.5;
}

ol {
            line-height: 1.8; /* 设置行距为字体大小的2倍 */
        }
ul {
            line-height: 1.8; /* 设置行距为字体大小的2倍 */
        }